body {
  font-family: 'Noto Serif', serif;
  display: flex;
  justify-content: center;
}
.container {
  max-width: 800px;
  margin: 1em;
}
nav {
  font-size: 120%;
  text-align: center;
}
a {
  color: #C00;
  text-decoration: none;
}
a:hover {
  color: #F33;
  text-decoration: underline;
}
h1 {
  text-align: center;
}
body.index h1 {
  font-size: 3em;
  margin-bottom: 0;
}
body.index h2 {
  font-size: 1.6em;
  margin-top: 0;
  font-weight: normal;
  text-align: center;
}
p.lead {
  font-size: 120%;
  margin-top: 1em;
}
ul {
  margin: 2em 0 3em;
}
li {
  font-size: 1.2em;
  line-height: 1.5em;
}
.section {
  margin: 2em 0;
}
.chapter, .preamble, .subscription, .epilogue {
  margin: 1em 0;
  line-height: 1.8em;
  font-size: 1.3em;
}
.section_title {
  font-size: 1.6em;
  text-align: center;
}
.chapter_ref {
  font-size: 1.2em;
  margin: 1em 0 0.3em;
  text-align: center;
  color: #C00;
}
.epilogue_title {
  font-size: 1.2em;
  margin: 1em 0 0.3em;
  text-align: center;
}
.verse_ref {
  color: #C00;
  font-size: 70%;
  font-family: sans-serif;
  height: 0;
  line-height: 1;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
